<% if @faculty_propsel.present?%>
	$("#new_faculty_propsel")[0].reset()
	<% if @verified_recaptcha %>
		$("#new_faculty_propsel").append("<div class='alert fade in alert-success alert-dismissable'><button type='button' data-dismiss='alert' class='close' aria-hidden='true' >×</button> <h3>Thank you for your submission.</h3><p>succefully submit form </p><p><br><br></p></div>")
	<% else %>
		$("#new_faculty_propsel").append("<div class='alert fade in alert-danger alert-dismissable'><button type='button' data-dismiss='alert' class='close' aria-hidden='true' >×</button> <h3>Sorry and one more item.</h3><p>reCAPTCHA verification failed, please try again. </p><p><br><br></p></div>")
	<% end %>
<%end%>